*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*nav*/
nav div{
    background-color: black;
    font-size: 20px;
    gap: 50%;
}

.navbar{
    text-align: center;
    padding: 0px;
}

.container-fluid{
    padding-inline: 15%;
}

.navbar-brand{
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link{
    color: white;
}

ul{
    gap: 25px;
}

/*content*/

.mall {
    height: 900px;
    width: 100%;
}

.input-group{
    margin: 5% 15%;
    width: 30%
}

.store-row{
    display: flex;
    margin: 5% 15%;
    gap: 60px;
}

.card{
    border: 0px;
}

.card-subtitle{
    border-bottom: 1px solid black;
}